/* General-purpose classes */
.invisible{
    display: none;
}
.gray{
    color: #555555;
}
.black{
    color: #000000;
}
.sans-serif{
    font-family: sans-serif;
}
.monospace{
    font-family: monospace;
}
.thumb{
    width:  100px;
    height: 100px;
}

/* inline code snippets */
code{
    background-color: #DDDDDD;
    font-size:        1.2em;
}

/* Main tutorial */
body{
    margin:      0;
    font-family: sans-serif;
}
#display-title{
    margin:           0;
    padding:          1em 0 .5em 1em;
    background-color: #DDDDDD;
    color:            #333333;
}

/* Rangy highlighting */
#select-code-screen::selection{
    color: #00FF00;
}
#select-code-screen::-moz-selection{
    color: #00FF00;
}
#select-code-screen::-webkit-selection{
    color: #00FF00;
}
.selected{
    color: #00FF00;
}

/* Page divs */
#current-page{
    padding:          1em 0 0 0;
    background-color: #DDDDDD;
}
.code-screen{
    padding:          0 0 0 1em;
    background-color: #000000;
    color:            #555555;
    font-size:        15px;
    font-family:      monospace;
}
#subpages{
    padding: 0 0 0 1em;
}
#current-subpage{
    padding:          1em 0 0 0;
    background-color: #E5E5E5;
}
#subpage-caption{
    padding: 1em 0 0 0;
}
#preview-page{
    width:                 90%;
    margin:                2% 0 0 5%;
    padding:               .3em .3em .3em .3em;
    background-color:      #FFFFFF;
    border-radius:         15px;
    -moz-border-radius:    15px;
    -webkit-border-radius: 15px;
}

/* Buttons */
.nav-button{
    width:                 9%;
    padding:               .3em .2em .3em .2em;
    margin:                .3em .2em .3em .2em;
    display:               inline-block;
    background-color:      #00CC00;
    text-align:            center;
    border-radius:         10px;
    -moz-border-radius:    10px;
    -webkit-border-radius: 10px;
}
.nav-button:hover, .selected-page-button, .selected-subpage-button{
    background-color: #00EE00;
}
.new-page-button, #get-json{
    width:            10%;
    background-color: #00CCCC;
}
.new-page-button:hover, #get-json:hover{
    background-color: #00EEEE;
}
.delete-button{
    background-color: #CC0000;
}
.delete-button:hover{
    background-color: #EE0000;
}
#exit-json{
    width: 12%;
}

/* Headers */
#no-pages{
    text-align: center;
    font-size:  2.1em;
    color:      #333333;
}
#no-subpages{
    text-align: center;
    font-size:  1.8em;
    color:      #333333;
}
#title-header{
    font-size:   2.4em;
    font-weight: bold;
}


/* Control panels */
.page-control-panel{
    margin: 0 0 .5em 2%;
}
#main-toolbar{
    padding:          .5em .5em .5em .5em;
    background-color: #EEEEEE;
}

/* Input */
#set-title{
    margin:           0;
    padding:          1em 0 .5em 5%;
    background-color: #F2F2F2;
    color:            #333333;
}
textarea{
    width:  90%;
    margin: 1em 0 .5em 5%;
}
#input-desc, #input-title{
    width: 90%;
    margin: .2em 0 0 0;
}
#input-title{
    font-size:  2.4em;
    font-weight: bold;
}
#page-text{
    width:  90%;
    margin: 1em 0 .6em 5%;
}
#tutorial-json-textarea{
    background-color: #000000;
    color:            #00FF00;
}