<!DOCTYPE html>
<html>
    <head>
        <title>OneRoomSchool Tutorial Generator</title>
        <link rel = "stylesheet" href = "css/style.css">

        <script id = "slideshow-template" type = "text/template">
            <div id = "set-title">
                <input id = "input-title" value = "<%= title %>"/><br>
                <textarea id = "input-desc" class = "sans-serif"
                    rows = "5"><%= desc %></textarea><br>
                <p id = "save-title" class = "nav-button">Save</p>
                <p id = "cancel-title" class = "nav-button">Cancel</p>
            </div>
            <div id = "slideshow-main">
                <div id = "display-title" class = "invisible">
                    <div id = "title-header"><%= title %></div>
                    <p id = "edit-title" class = "nav-button">Edit title</p>
                </div>
                <div id = "main-toolbar">
                    <div id = "pages"></div>
                    <div id = "new-page-toolbar">
<!-- When making a new page type, add a button for the new page type with its
     "data-page-type" attribute saying the name of the new page and its
     "data-template" attribute describing which template will be loaded for the
     "create new page" window -->
                        <p id = "new-text-page"
                            class = "new-page-button nav-button"
                            data-page-type = "text" data-template = "text">
                            New text page</p>
                        <p id = "new-code-page"
                            class = "new-page-button nav-button"
                            data-page-type = "code" data-template = "code">
                            New code page</p>
                        <p id = "get-json" class = "nav-button"
                            data-page-type = "json">Get JSON</p>
                        <p id = "load-json" class = "nav-button"
                            data-page-type = "json">Load tutorial</p>
                    </div>
                </div>
                <div id = "current-page" class = "invisible"></div>
            </div>
            <div id = "tutorial-json" class = "invisible"></div>
        </script>
    
        <script id = "pages-template" type = "text/template">
            <div id = "no-pages"><%= noPages ? "Your tutorial has no pages" :
                                               "" %></div>
            <div id = "page-list"><%= pageButtons %></div>
        </script>

<!-- To make a new page type you need a "newPageType-content-template", which
     is a partial template that contains the contents of the page and accepts
     as its arguments a hash with the key "page" and the value of the page
     model being represented with this view.
     
     You also need a "newPageType"-control-panel-template, which contains all of
     the buttons you need in the page's bottom control panel to navigate the
     page.  All control panel templates must have at least a #leave-page and a
     #delete-page element as buttons so that users can leave the current page
     or delete the current page. -->        
        <script id = "text-content-template" type = "text/template">
            <div id = "preview-page" <%= page.get("content").match(/\S/) ? "" :
                "class = 'invisible'" %>><%=
                page.get("content") %></div>
            <textarea id = 'page-content' class = 'sans-serif' rows = '15'
                    onblur = "previewPage('#page-content', '#preview-page')"><%=
                page.get("content") %></textarea><br>
            Display LaTeX? <input id = "has-LaTeX" type = "checkbox" <%=
                page.get("hasLaTeX") ? "checked = 'yes'" : "" %>
            onchange = "previewPage('#page-content', '#preview-page')"/><br>
        </script>
        
        <script id = "text-control-panel-template" type = "text/template">
            <p id = "save-page" class = "nav-button">Save edit</p>
            <p id = "leave-page" class = "nav-button">Back</p>
            <p id = "delete-page" class = "nav-button delete-button">
              Delete page</p>
        </script>
        
        <script id = "code-content-template" type = "text/template">
            <%= "<div id = 'subpages'></div>" +
                "<div id = 'page-code-screen' class = 'code-screen'>" +
                    codeToHTML(page.get("content")) + "</div>" +
                "<div id = 'current-subpage'></div>" %>
        </script>
        
        <script id = "code-control-panel-template" type = "text/template">
            <p id = "add-subpage" class = "nav-button">Add subpage</p>
            <p id = "leave-page" class = "nav-button">Back</p>
            <p id = "delete-page" class = "nav-button delete-button">
              Delete page</p>
        </script>
        
<!-- This is the basic template for displaying a PageView.  It takes in as its
     only parameter "page", which is a Page model.  Based on the page's type,
     templates for displaying the page's content and control panel are selected,
     and the template for the page's content is passed the Page model.  -->
        <script id = "page-template" type = "text/template">      
            <div id = "page-content-div">
                <%= _.template($("#" + page.getType() +
                  "-content-template").html())({page: page}) %>
            </div>
            <div id = "page-control-panel-div" class = "page-control-panel">
                <%= _.template($("#" + page.getType() +
                               "-control-panel-template").html())({}) %>
            </div>
        </script>
       
    
        <script id = "subpages-template" type = "text/template">
            <div id = "no-subpages"><%= noSubpages ?
                                       "Your page has no subpages" : "" %></div>
            <div id = "subpage-list"><%= subpageButtons %></div>
        </script>

<!-- The template for displaying a subpage.  Takes in a Subpage model as input.
     When a subpage is displayed from a code page, the code page's control panel
     and code screen are hidden.  The code screen in a subpage can be edited to
     highlight sections of code that are of interest. -->
        <script id = "subpage-template" type = "text/template">
            <p>To highlight code in the current subpage, simply drag the mouse
               over it.  Double click a line of code to highlight the whole
               line.</p>
            <div class = "code-screen" id = "select-code-screen"><%=
                subpage.get("codeHTML") %></div>
            <div class = "subpage-caption">
                <div id = "preview-page"></div>
                <textarea id = "subpage-content" class = "sans-serif"
                    rows = "9" onblur =
                    "previewPage('#subpage-content', '#preview-page')"><%=
                    subpage.get("caption") %></textarea><br>
                Display LaTeX? <input id = "has-LaTeX" type = "checkbox"
                <%= subpage.get("hasLaTeX") ? "checked = 'yes'" : "" %>
                onchange = "previewPage('#subpage-content', '#preview-page')"/>
                <br>
            </div>
            <div class = "page-control-panel">
                <p id = "save-subpage" class = "nav-button">Save edits</p>
                <p id = "leave-subpage" class = "nav-button">Back</p>
                <p id = "delete-subpage"
                    class = "nav-button delete-button">Delete subpage</p>
            </div>
        </script>

<!-- When defining a new page type, the user needs to determine what to have
     in the "new page template" for that page.  For example, the new page
     template for text pages includes a textarea, as well as a preview box
     for showing what the page will look like with the images and LaTeX, while
     the template for a new code page has just the textbox where you add
     code that will appear on the code screen on that page. -->
        <script id = "text-new-page-template" type = "text/template">
            <div id = "preview-page" class = "invisible"></div>
            <textarea id = "new-page-content" class = "gray sans-serif"
                rows = "15"
                onblur = "previewPage('#new-page-content', '#preview-page')"
                >Insert your <%= pageType %> here</textarea><br>
            Display LaTeX? <input id = "has-LaTeX" type = "checkbox"
            onchange = "previewPage('#new-page-content', '#preview-page')"/><br>
            <div class = "page-control-panel">
                At page: <input id = "at-page" type = "text" /><br>
                <p id = "add-new-page" class = "nav-button"
                   data-template = "default" data-page-type = "<%= pageType %>">
                   Add page</p>
                <p id = "cancel-new-page" class = "nav-button">Cancel</p>
            </div>
        </script>
        
        <script id = "code-new-page-template" type = "text/template">
            <textarea id = "new-page-content" class = 'gray' rows = "15"
                >Insert your code here</textarea><br>
            <div class = "page-control-panel">
                At page: <input id = "at-page" type = "text" /><br>
                <p id = "add-new-page" class = "nav-button"
                   data-template = "default" data-page-type = "code">
                   Add page</p>
                <p id = "cancel-new-page" class = "nav-button">Cancel</p>
            </div>
        </script>
        
        <!-- The template for a new subpage of a code page.  The code from the
             current page is passed in "code". -->
        <script id = "new-subpage-template" type = "text/template">
            <p>To highlight code in the current subpage, simply drag the mouse
               over it.  Double click a line of code to highlight the whole
               line.</p>
            <div id = "select-code-screen" class = "code-screen"><%=code%></div>
            <div id = "subpage-caption">
                <div id = "preview-page" class = "invisible"></div>
                <textarea id = "new-subpage-content" class = "gray sans-serif"
                    rows = "9" onblur = <%=
                      "previewPage('#new-subpage-content','#preview-page')"
                    %>><%=
                    "Insert text here (leave blank if you don't want any text)"
                    %></textarea><br>
                Display LaTeX? <input id = "has-LaTeX" type = "checkbox"
                onchange="previewPage('#new-subpage-content','#preview-page')"/>
                <br>
            </div>
            <div class = "page-control-panel">
                At subpage: <input id = "at-subpage" type = "text" /><br>
                <p id = "save-new-subpage" class = "nav-button">Add subpage</p>
                <p id = "cancel-new-subpage" class = "nav-button">Cancel</p>
            </div>
        </script>

        <!-- The template for displaying a tutorial's JSON -->
        <script id = "tutorial-json-template" type = "text/template">
            <p>You can modify the code for what to do with the JSON once you are
               finished with writing a tutorial however you see fit.  For the
               purpose of this demo, the JSON for your tutorial is in the text
               box below.</p>
            <textarea id = "tutorial-json-textarea"
                rows = "20" readonly = "true"></textarea>
            <p id = "exit-json" class = "nav-button">Return to editing</p>
        </script>
        
        <!-- The template for displaying a tutorial's JSON -->
        <script id = "load-json-template" type = "text/template">
            <p>Paste the JSON of the tutorial you want to load into the
               textarea below and click "load JSON" to load another
               tutorial.</p>
            <textarea id = "tutorial-json-textarea" rows = "20"></textarea>
            <p id = "load-tutorial" class = "nav-button">Load tutorial</p>
            <p id = "exit-json" class = "nav-button">Return to editing</p>
        </script>

        <!-- Dependencies for OneRoomSchool -->
        <script type = "text/javascript" src = "js/jquery-1.10.1.min.js">
        </script>
        <script type = "text/javascript" src = "js/json2.js"></script>
        <script type = "text/javascript" src = "js/underscore.js"></script>
        <script type = "text/javascript" src = "js/backbone.js"></script>
        <script type="text/x-mathjax-config">
            MathJax.Hub.Config({
                extensions: ["tex2jax.js"],
                jax: ["input/TeX", "output/HTML-CSS"],
                tex2jax: {
                    inlineMath: [ ['$','$'], ["\\(","\\)"] ],
                    displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
                    processEscapes: true
                },
                ignoreClass: "code-page|text-page",
                "HTML-CSS": { availableFonts: ["TeX"] }
            });
        </script>
        <!-- OneRoomSchool uses MathJax to support LaTeX in text pages and,
             subpages, as well as any user-defined pages that feature LaTeX -->
        <script type = "text/javascript"
                src="http://cdn.mathjax.org/mathjax/latest/MathJax.js"></script>
        <script type = "text/javascript" src = "js/structure.js"></script>
        <script type = "text/javascript" src = "js/rangy-core.js"></script>
        <script type = "text/javascript" src = "js/rangy-cssclassapplier.js">
        </script>
    </head>
    <body>
    </body>
</html>