<%/*
The template for a new subpage of a code page.  The code from the current page
is passed in the parameter "code".
*/%>
            <div>To highlight code in the current subpage, simply drag the mouse
               over it.  Double click a line of code to highlight the whole
               line.</div>
            <div id = "select-code-screen" class = "code-screen"><%=code%></div>
            <div id = "subpage-caption">
                <div id = "preview-page" class = "invisible"></div>
                <textarea id = "new-subpage-content" class = "gray sans-serif"
                    rows = "6" onblur = <%=
                      "previewPage('#new-subpage-content','#preview-page')"
                    %>><%=
                    "Insert text here (leave blank if you don't want any text)"
                    %></textarea><br>
                Display LaTeX? <input id = "has-LaTeX" type = "checkbox"
                onchange="previewPage('#new-subpage-content','#preview-page')"/>
                <br>
            </div>
            <div class = "page-control-panel">
                At subpage: <input id = "at-subpage" type = "text" /><br>
                <p id = "save-new-subpage" class = "nav-button">Add subpage</p>
                <p id = "cancel-new-subpage" class = "nav-button">Cancel</p>
            </div>