<%/*
The template that displays when the user is getting the JSON encoding of their
tutorial
*/%>
            <p>You can modify the code for what to do with the JSON once you are
               finished with writing a tutorial however you see fit.  For the
               purpose of this demo, the JSON for your tutorial is in the text
               box below.</p>
            <textarea id = "tutorial-json-textarea"
                rows = "20" readonly = "true"></textarea>
            <p id = "exit-json" class = "nav-button">Return to editing</p>